
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}




body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Karla', 'arial', sans-serif;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--white);
    color: var(--dark);
}

img{
    max-width: 100%;
    height: auto;

}

*:focus{
    outline: 3px solid var(--light-blue);
    outline-offset: 3px;
}

.button{
    display: inline-block;
    text-align: center;
    font-style: normal;
    border: 0;
    border: 3px solid transparent;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 13px 28px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.6s ease,
        background-color 0.6s ease;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.add-on-container{
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/* main content */
.main{
    flex-grow: 1;
    z-index: 2;
    position: relative;
    background-color: #fff;
}

/* SITE HEADER */
.site-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    background-color: var(--white);
    padding: 20px 0;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

/* SITE LOGO */
.site-logo-link{
    color: var(--dark);
    text-decoration: none;
    display: block;
    z-index: 1;
    transition: color 0.6s ease;
    margin-right: auto;
}

.site-logo-link:hover{
    color: var(--gray);
}

.site-logo-link:active{
    opacity: 0.6;
}

.site-logo-icon{
    display: block;
    object-fit: contain;
    object-position: center;
}

/* HEADER NAV */
.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav-item:not(:last-child){
    margin-right: 25px;
}

.header-nav-item:last-child{
    margin-right: 33px;
}

.header-nav-link{
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: var(--gray);
    text-transform: uppercase;
    transition: color 0.4s ease;
}

.header-nav-link:hover{
    color: var(--dark);
}

.header-nav-link:active{
    color: var(--light-blue);
}

